.mainWrapper {
  background-color:rgb(184, 186, 189);
  width: 1440px;
  margin: 0 auto;
  

  .wrapperCards {
  
    padding-top: 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .navPok {
    height: 115px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-left: 75px;
  }

  .pikachu {
    max-width: 45%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    margin: 0 auto;
  }

  .buttons{
    align-items: center;
  }
}