@import '/src/css/colors.scss';

.wrapperCard {
  display: flex;
  flex-direction: column;
  padding: 15px;

  .cardPokemon {
    width: 180px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, $alpha: 0.5);
    // height: 260px;
    background-color: $colorCard;
    border-radius: 20px;

    .imgPokemon {
      display: flex;
      align-items: center;
      // overflow: hidden;
      padding: 12px;
      margin: 20% 5% 5% 5%;
      background-color: $imgColor;
      border-radius: 50%;
    }
    
    .imgPokemon:hover {
      cursor: pointer;
    }
    
    .picOfPokemon {
      max-width: 100%;
      transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
    }

    .picOfPokemon:hover {
      transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }

    .info {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration-line: none;

      .name {
        text-transform: capitalize;
        margin: 4px 0;
        letter-spacing: 1px;
      }
      .type {
        margin-bottom: 8px;
        font-weight: 700;
      }
      .number {
        background-color:aliceblue;
        font-weight: 700;
        border-radius: 10px;
        font-size: 0.8em;
        padding: 5px 10px;
      }
    }
  }
}