$colorCard: rgb(79, 79, 233);
$imgColor: rgb(38, 51, 51);
$mainColorBackground: #EFEFBB;

.fire {
  color:#FDDFDF
}
.grass {
  color: #DEFDE0
}
.electric {
  color: #FCF7DE
}
.water {
  color: #DEF3FD
}
.ground {
  color: #f4e7da
}
.rock {
  color: #d5d5d4
}
.fairy {
  color: #fceaff
}
.poison {
  color: #98d7a5
}
.bug {
  color: #f8d5a3
}
.dragon {
  color: #97b3e6
}
.psychic {
  color: #eaeda1
}
.flying {
  color: #F5F5F5
}
.fighting {
  color: #E6E0D4
}
.normal {
  color: #F5F5F5
}